:root {
  --title-size: 50px;
  --subtitle-size: 25px;
  --body-size: 18px;
  --small-size: 14px;


  --tablet-title-size: 40px;
  --mobile-title-size: 35px;
  --xs-title-size: 25px;

  --mobile-subtitle-size: 20px;
  --mobile-body-size: 16px;
  --mobile-small-size: 13px;
}

body, h1,h2,h3,h4,h5,h6 {
  font-family: "Corben", sans-serif;
  background-color: honeydew;
  text-align: center;
}
* {
  box-sizing: border-box;
}
header h1 {
  font-weight: 700;
  padding: 1em;
  font-size: var(--mobile-title-size);
}
img {
  width: 100%;
  height: auto;
}
footer {
  padding: 1em;
}
main {

}

nav {
  padding-bottom: 2em;
}
.nav-link {
  margin-right: 4em;
  margin-left: 4em;
  font-size: var(--mobile-body-size);
}

.blurb {
  float: left;
  padding: 1em;
  text-align: left;
}


.blurb a {
  position: relative;
  color: #000;
  border-bottom: 2px dashed lightSalmon;
}

.blurb a:hover {
  color: darkSalmon;
}
.blurb a:before {
  content: "";
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: lightSalmon;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  */
}
.blurb a:hover::before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
/*
nav a {
  text-decoration: none;
  padding: 2em;
}

nav a:hover {
  text-decoration: underline;
}
*/
a {
  position: relative;
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #000;
}

a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: lightSalmon;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}


.horizontal-after:after {
    content: " ";
    display: block;
    margin: 1.5em;
    border-bottom: 1px solid black;

  }


  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }

  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    header h1 {font-size: var(--title-size);}
    .nav-link {font-size: var(--body-size);}

  }
